@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:rgb(7, 17, 28);
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color: #0ef;
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background:var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


/*-------Header---------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: linear-gradient(45deg, rgb(16, 15, 15), rgb(14, 14, 40));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

#span1 {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar a{
    font-size: 2.1rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a.active {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2.5rem;
}

.navbar a:hover {
    color: var(--main-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.4),
    0 0 20px rgba(18, 247, 255, 0.4),
    0 0 30px rgba(18, 247, 255, 0.4),
    0 0 400px rgba(18, 247, 255, 0.4),
    0 0 70px rgba(18, 247, 255, 0.4),
    0 0 80px rgba(18, 247, 255, 0.4),
    0 0 100px rgba(18, 247, 255, 0.4),
    0 0 150px rgba(18, 247, 255, 0.4);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/*-------home---------*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(7, 17, 28);
}

.home-img img {
    width: 40vw;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .type{
    position:absolute;
    display: flex;
    opacity: 0;
}

.home-content p {
    font-size: 1.8rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .3rem solid var(--main-color);
    border-radius: 50%;
    font-size: 3rem;
    color: aqua;
    margin: 2rem 1.5rem 2rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/*-------btn---------*/
.btn {
    display: inline-block;
    padding: .5rem 1.8rem;
    border-radius: 15rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: rgb(248, 248, 248);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.btn:before {
    content: "";
    background: linear-gradient(45deg, #f06, #3cf, #f06, #3cf, #f06, #3cf, #f06, #3cf);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbtn 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000;
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*---------About-----------*/
.about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
    background: rgb(19, 19, 30);
}
.about-left img{
    width: 30vw;
}
.about-right {
    width: 54%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h2 {
    text-align: center;
    font-size: 5rem;
    text-align: left;
    line-height: 1.2;
}

.about-right p {
    line-height: 26px;
    font-size: 20px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address {
    display: grid;
}

.address .address-logo {
    margin-right: 15px;
    color: #4dece4;
}

.address .colon {
    margin: 0 35px;
}

.about-right .tech-skills ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;}

.tech-skills h3 {
    margin-bottom: 10px;
    font-size: 15px;
}

.tech-skills .technical-logo{
    font-size: 19px;
    margin-right: 5px;
}

.about-right .prof-skills ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prof-skills h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}




/*------------Services-------------------*/
.services {
    background: #0e171f;
}

.services h2 {
    margin-bottom: 6rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box {
    flex: 1 1 30rem;
    background-image: radial-gradient(circle at center center, transparent,rgb(33,33,33));
    padding: 2rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    cursor: pointer;
}

.service-container .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box i {
    font-size: 5rem;
    color: rgb(47, 202, 245);
}

.service-box h3 {
    font-size: 2rem;
}

.service-box p {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}

/*------------Projects-------------------*/
.projects {
    background: #00131c;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}

.projects h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .portfolio-layer {
    transform: translateY(0%);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #0ef;
    outline: 2px solid #fff;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/*----------------Contact---------------*/
.contact {
    background: #111010;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 49.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(122, 146, 153);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px;
}

.field.error .item {
    border-color: #d93025;
}

.field .error-txt {
    font-size: 14.5px;
    color: rgb(182, 28, 28);
    text-align: left;
    margin: -11px 11px;
    display: none;
}

.field.error .error-txt{
    display: block;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

form .textarea-field .item {
    resize: none;
}

/*-------button---------*/
button {
    --glow-spread-color: rgba(23, 138, 156, 0.781);
    --enhanced-glow-color: 2px solid rgb(122, 153, 153);
    border: 2px solid rgb(122, 153, 153);
    padding: 1em 3em;
    color: rgba(255, 255, 255, .3);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: #0ef;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
            0 0 4em 2em var(--glow-spread-color),
            inset 0 0 .75em .25em var(--glow-color);
}



/*-----------Footer-----------*/
footer {
    padding: .1rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111010;
}

footer p {
    color: #bdbdbd;
}

/*-------------media------------*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .about {
        padding: 2rem 3%;
    }

    .services {
        padding: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .home-content h2 {
        font-size: 5rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 5rem;
    }

    .projects h2 {
        margin-top: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-right {
        grid-row: inherit;
    }
}

@media (max-width: 617px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img igm {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}






/*------------keyframes---------------*/
/* button */
@keyframes glowingbtn {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}
